<!--

body {
	margin		: 0px;
	color		: #000000;
	font-size	: 12px;
	font-family	: Arial, Helvetica, sans-serif;
	Ffont-family	: "Times New Roman", Times, serif;

	letter-spacing: 0px;

}

#logo {
	width				: 900px;
	height				: 75px;
	background-image	: URL(images/print_header.jpg);	
	background-repeat	: no-repeat;
}

.print_page_header {
	width				: 900px;
	height				: 75px;
	background-image	: URL(images/print_header.jpg);	
	background-repeat	: no-repeat;
}

.print_page_footer {
	width				: 900px;
	height				: 75px;
	background-image	: URL(images/print_footer.jpg);	
	background-repeat	: no-repeat;
	position			: absolute;
	bottom				: 0px;
}


#login_menu {
	display				: none;
}

#login_status {
	display				: none;
}

#main_content {
}

#function_box {
	display				: none;
}

#search_box {
	display				: none;
}

#main_list {
}

.report_title {
	width				: 300px;
	font-size			: 15px;
	display				: table-cell;
	text-align			: center;
	padding				: 7px 20px 7px 20px;
	border-top			: solid 1px #555555;
	border-left			: solid 1px #555555;
	border-bottom		: solid 3px #000000;
	border-right		: solid 3px #000000;
}

table {
	border				: 0px;
	font-size			: 12px;
	letter-spacing		: 0px;
}

tr {
	display				: table-row;
}

thead {
	display				: table-header-group;
}

tfoot {
	display				: table-footer-group;
}

input {
	font-family		: Arial, Helvetica, sans-serif;
	font-size		: 12px;
	
	border			: 0px;
	background		: none;
	
}

.pagebreak {
	page-break-after	: always;
}

input.number {
	text-align		: right;
	padding-right	: 5px;
}

.button {
	display			: none;
}

.single_row_td {
	white-space		: nowrap;
	text-overflow	: ellipsis;
	overflow		: hidden;
}

td.number {
	text-align		: right;
	padding-right	: 15px;
}

img {
	border			: 0px;
}

.texticon {
	vertical-align	: middle;
}

li {
	line-height	: 20px;
}

.listTitle {
	line-height	: 30px;
	list-style	: disc inside;
	color		: #903
}

.listContent {
	list-style	: none;
}

a:link {
	color		: #775500;
	text-decoration: none;
}
a:visited {
	color		: #775500;
	text-decoration: none;
}
a:hover {
	color		: #AA7733;
	text-decoration: underline;
}
a:active {
	color		: #AA7733;
	text-decoration: underline;
}

h1 {
	display		: none;
	font-size	: 24px;
}

h2 {
	display		: none;
	font-size	: 24px;
}

h3 {
	display		: none;
	font-size	: 15px;
	margin		: 0px;
}

h4 {
	display		: none;
	font-size	: 12px;
}

h5 {
	display		: none;
	font-size	: 11px;
}

h6 {
	display		: none;
	font-size	: 10px;
}




textarea {
	height		: 60px;
	overflow-y	: visible;
}

.top_border {
	border-top		: solid 1px #aaaaaa;
	vertical-align	: top;
}



.size15 {
	font-size	: 15px;
}

.size13 {
	font-size	: 12px;
}

.size12 {
	font-size	: 12px;
}

.size11 {
	font-size	: 11px;
}

.size10 {
	font-size	: 10px;
}

.size9 {
	font-size	: 9px;
}

.size8 {
	font-size	: 8px;
}

.hidden {
	display		: none;
}


.remark {
	display		: none;
}


.tableheader {
	color		: #ffffff;
}

.tableheader a:link {
	color		: #ffffff;
	text-decoration: none;
}
.tableheader a:visited {
	color		: #ffffff;
	text-decoration: none;
}
.tableheader a:hover {
	color		: #ffffff;
	text-decoration: underline;
}
.tableheader a:active {
	color		: #ffffff;
	text-decoration: underline;
}


.tab {
	width				: 100px;
	padding				: 7px;
	border				: solid 1px #aaaaaa;
	margin-right		: 10px;
	text-align			: center;
	border-bottom		: 0px;
	vertical-align		: middle;
}
.tab:link {
	text-decoration		: none;
}
.tab:visited {
	text-decoration		: none;
}
.tab:hover {
	background-color	: #fff7ee;
	text-decoration		: none;
}
.tab:active {
	text-decoration		: none;
}

.tab_switch {
	font-weight			: bold;
	width				: 140px;
	padding				: 10px 0px 9px 0px;
	margin-right		: 10px;
	text-align			: center;
	vertical-align		: bottom;
	float				: left;
	cursor				: pointer;
	background-repeat	: no-repeat;
	background-image	: URL(images/list_tab_button_on.jpg);
}

.tab_switch_content {
	border-top			: solid 1px #aaaaaa;
	padding-top			: 15px;
}

.page_number {
	margin			: 2px;
	padding			: 2px;
	width			: 20px;
	color			: #555555;
	text-align		: center;
	text-decoration	: none;
}
.page_number:link {
	color			: #555555;
	text-decoration	: none;
}
.page_number:visited {
	color			: #555555;
	text-decoration	: none;
}
.page_number:hover {
	margin-top		: 1px;
	margin-bottom	: 1px;
	color			: #555555;
	border			: solid 1px #777777;
	text-decoration	: none;
}
.page_number:active {
	margin-top		: 1px;
	margin-bottom	: 1px;
	color			: #555555;
	border			: solid 1px #777777;
	text-decoration	: none;
}



#PulldownMenu {
	position			: absolute;
	overflow-y			: scroll;
	overflow-x			: hidden;
	height				: 50px;
	z-index				: 10;
	border				: solid 1px #aaaaaa;
	background-color	: white;
}


.table_form {
	width				: 900px;
	
	border				: solid 5px #dddddd;
	background-repeat	: repeat-x;
	margin				: 5px; color:#333333;
	background-color	: #ffffff;
	background-image	: URL(images/form_bkgnd.jpg); 	
}

.simple_list {
	background-color	: #aaaaaa;
	border				: solid 0px #cccccc;
	ppage-break-after	: always;
}

.simple_list th {
	color				: #ffffff;
	font-weight			: bold;
	font-size			: 13px;
	background-image	: URL(images/list_title_bkgnd.jpg); 	
	text-align			: left;
	border-left			: solid 1px #cccccc; 
}

.simple_list tr {
	border-right		: solid 1px #cccccc; 
}

.simple_list td {
	border-bottom		: solid 1px #cccccc;
	border-left			: solid 1px #cccccc; 
}

.simple_list_title td {
	color				: #ffffff;
	font-weight			: bold;
	font-size			: 13px;
	background-image	: URL(images/list_title_bkgnd.jpg); 	
	
}


.print_header {
	height				: 75px;
	width				: 900px;
	background-image	: URL(images/logo.jpg);	
	background-repeat	: no-repeat;
	background-color	: white;
	display				: block;
	border-left			: 0px;
}

.print_header td {
	width				: 350px;
	border-left			: 0px;
}




.height10 {
	width				: 0px;
	height				: 10px;
}

.height20 {
	width				: 0px;
	height				: 20px;
}

.nodisplay {
	display				: inline;
}

.noprint {
	display				: none;
}

-->